body{
    padding: 5%;
}

.paragraph2{
    background-color: grey;
    color: maroon;
    padding: 30px;
    margin: 10vw;
    
}

.paragraph{
    padding: 20px;
    margin: 15px;
}

